<div class="banner">
    CAPONI ART PARK
    <a onClick="javascript:history.go(-1);">
        <i class="material-icons menuIcon" style="font-size: 50px">clear</i>
    </a>
</div>
<div class="menu">
    <br>
    <br>
    <hr class="hard-break">
    <md-list-item href="#!map" class="md-3-line guest-menu">
        <a>Map</a>
    </md-list-item>
    <md-list-item href="#!events" class="md-3-line guest-menu">
        <a>Events</a>
    </md-list-item>
    <md-list-item href="#!email" class="md-3-line guest-menu">
        <a>Register for Email List</a>
    </md-list-item>
    <md-list-item href="#!guidelines" class="md-3-line guest-menu">
        <a>Guidelines</a>
    </md-list-item>
    <hr>
</div>
